body {

    margin: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    height: 80vh;

    background-color: black;

    background-image: url(../imge/abcde.gif);

}

h1 {

color: transparent;

background-image: linear-gradient(
   
blue, 
  
white, 
 
#dfa554);

-webkit-background-clip: text;

}

.photo {

margin-left: 210px;

}

.midea {

outline: 10px solid coral;

background-image: linear-gradient(
    
green, #529, #6357);

}